* {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 1000px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 0 auto;
}

header {
  margin-top: 3rem;
}

.logo {
  float: left;
  margin-right: 80px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: salmon;
  transition: color 1s;
}

.links a {
  padding: 20px;
}

.links {
  padding-top: 5px;
}

.active {
  font-weight: bold;
}

.fundo-rosa {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 940px;
  height: 366px;
  background: #fbdfdb;
  border-radius: 30px;
  border-radius: 30px;
}

.fundo-conteudo {
  padding: 100px 40px;
}

.fundo-titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 0px;

}

.fundo-subtitulo {
  margin-top: 0px;
  text-align: left;
  width: 38%;
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
}

.fundo-chef {
  float: right;
  padding: 67px 90px;
}

.cards {
  float: left;
  padding-right: 25px;
  margin-top: 45px;
}

.cards-receita {
  clear: both;
  float: left;
  padding-right: 25px;
  margin-top: 45px;
}

.img-card img {
  border-radius: 15px;
  width: 300px;
  height: 140px;
}

.img-card-receita img {
  border-radius: 15px;
  width: 300px;
  height: 140px;
}

.desc-card {
  margin-top: 15px;
}

.desc-title {
  font-weight: bold;
  font-size: 18px;
}

.desc-author {
  font-size: 14px;
  color: #777777;
}

footer {
  clear: both;
  padding-top: 80px;
  padding-bottom: 50px;
  font-size: 14px;
  color: #999999;
  text-align: center;
  width: 100%;
}

.about-title {
  margin-top: 3rem;
  clear: both;
  text-align: left;
}

.about-title p {
  font-size: 24px;
  color: #111111;
  font-weight: bold;
}

.about-content {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-top: 1rem;
}
